<form class="register_form" method="POST" {{action @submitRegister on="submit"}}>
    <label for="email">Email:</label>
    <input type="text" placeholder="Enter Email" name="Remail" id="Remail">
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Rpassword" id="Rpassword">
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="Rpassword_repeat" id="Rpassword_repeat">
    <button type="submit" class="registerBtn">Register</button>
</form>